%section.page-title
  .page-title-square
  - if @profile.user.full_name.size > 1
    %h2.page-title-header= "Editing #{@profile.user.full_name}'s Profile"
  - else
    %h2.page-title-header= "Editing #{@profile.user.email}'s Profile"
  .page-title-controls
    = link_to "(back)", user_path(@profile.user)
    = link_to '(all users)', users_path

= render 'form'
