= simple_form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :title
    = f.input :description, as: :text
    = f.input :term
    = f.input :start_date#, as: :date
    = f.input :end_date#, as: :date
    = f.input :number
    = f.input :published,   as: :boolean
    = f.input :school
  .actions
    = f.button :submit, 'Save'
