= simple_form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :title
    = f.input :description, as: :text
    = f.input :school
    = f.input :number
    = f.input :term
    = f.input :start_date, hint: "format: dd-mm-yyyy"
    = f.input :end_date, hint: "format: dd-mm-yyyy"
    .input
      = f.label :published, label: 'Published'
      = f.input_field :published, as: :boolean
  .actions
    = f.button :submit, 'Save'
