%section.page-title
  .page-title-square
  %h2.page-title-header Courses
  .page-title-controls
    - if current_user
      = link_to "(my courses)", user_courses_path(current_user)
      - if current_user.role == "instructor"
        = link_to '(new course)', new_course_path

%section#courses.content
  %ul#courses-list
    - @courses.each do |course|
      - if course.published
        %li.course
          %h3.course-title
            = link_to course.title, course_path(course), title: course.description
          .course-info
            = course.school
            = course.number
          .course-dates
            = course.term
            = course.start_date
            = course.end_date
          - if current_user.role == "instructor"
            .course-controls
              = link_to 'Edit', edit_user_course_path(current_user, course)
              = link_to 'Destroy', course, method: :delete, data: { :confirm => 'Are you sure?' }



