%section.page-title
  .page-title-square
  %h2.page-title-header= "#{@course.title} :: #{@course.number} :: #{@course.term}"
  .page-title-controls
    = link_to "(back)", user_courses_path(current_user)
    - if current_user && current_user.role == "instructor"
      = link_to '(edit)', edit_user_course_path(current_user, @course)

%section#course.content
  .title Description:
  .value= @course.description

  .course-attributes
  %p
    %b Description:
    = @course.description
  %p
    %b Start date:
    = @course.start_date
  %p
    %b End date:
    = @course.end_date
  %p
    %b Published:
    = @course.published
  %p
    %b School:
    = @course.school
