!!!5
%html
  %head
    %title
      = yield(:title)
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container

      - if flash[:notice] || flash[:alert] || flash[:message]
        .notice.alert
          = flash[:notice] || flash[:alert] || flash[:message]

      %header
        %nav
          - if user_signed_in?
            = link_to "logout", destroy_user_session_path, method: :delete
            = link_to "my profile", user_path(current_user)
          - else
            = link_to "login", new_user_session_path
        %a.logo{ href: root_path }
          %h1 > DnStudios ~

      #main
        = yield